:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --accent-bg-color: #2f303a;
    --border-color: #eeeeee;
    --header-border: #ececec;
    --icon-color: #afb1b8;

    --title-content-gap: 50px;
    --card-gap: 30px;
    --icon-gap: 10px;
    --primary-border-radius: 4px;
}

/* TOOLS */

body {
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    font-style: normal;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: var(--title-content-gap);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--title-text-color);
}

.button {
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background-color: var(--accent-color);

    border: 1px solid transparent;
    border-radius: var(--primary-border-radius);

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
}

.button__icon {
    fill: currentColor;
}

/* HEADER */

.page-header__container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid var(--header-border);
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav__list {
    display: flex;
    margin-left: 90px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.logo {
    display: block;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo {
    padding: 5px 0;

    color: var(--title-text-color);
}

.logo__accent {
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.site-nav__link {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::after {
    content: '';
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);

    border-radius: 2px;
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts__item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__icon {
    margin-right: var(--icon-gap);

    fill: currentColor;
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--accent-color);
}

/* MAIN PAGE */

/* HERO */

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
    background-color: var(--accent-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
}

.hero__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
}

/* ADVANTAGES SECTION */

.advantages {
    display: flex;
}

.advantages__item {
    width: calc((100% - 3 * var(--card-gap)) / 4);
}

.advantages__item:not(:last-child) {
    margin-right: var(--card-gap);
}

.advantages__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    margin-bottom: var(--card-gap);

    background-color: var(--secondary-bg-color);

    border-radius: var(--primary-border-radius);
}

.advantages__caption {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-text-color);
}

/* FEATURES SECTION */

.features {
    display: flex;
    justify-content: center;
}

.features__item {
    position: relative;
    width: calc((100% - 2 * var(--card-gap)) / 3);
}

.features__item:not(:last-child) {
    margin-right: var(--card-gap);
}

.features__text-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 70px;
    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
}
.features__text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white-color);
}

/* EMPLOYEE SECTION */

.section--bg-color {
    background-color: var(--secondary-bg-color);
}

.employee {
    display: flex;
}

.employee__item {
    width: calc((100% - 3 * var(--card-gap)) / 4);

    text-align: center;

    border-radius: var(--primary-border-radius);

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee__item:not(:last-child) {
    margin-right: var(--card-gap);
}

.employee__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employee__heading {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--title-text-color);
}

.employee__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}

.socials--employee-locate {
    display: flex;
    justify-content: center;
}

.socials__link--employee-color {
    color: var(--icon-color);
    background-color: var(--white-color);
}

.socials__link--employee-color:hover,
.socials__link--employee-color:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* EXAMPLES SECTION */

.examples {
    display: flex;
    justify-content: center;
}

.examples__item:not(:last-child) {
    margin-right: var(--card-gap);
}

.examples__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    color: var(--icon-color);

    border: 1px solid var(--icon-color);
    border-radius: var(--primary-border-radius);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover,
.examples__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.examples__icon {
    fill: currentColor;
}

/* PORTFOLIO PAGE */

/* FILTERS */

.filters {
    display: flex;
    justify-content: center;

    margin-bottom: var(--title-content-gap);
}

.filters__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);

    border: 1px solid transparent;
    border-radius: var(--primary-border-radius);

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO CONTENT */

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
}

.grid__card {
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
}

.card {
    display: block;
    flex-basis: calc(100% / 3 - var(--card-gap));

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__content {
    padding: 20px 24px;

    border-bottom: 1px solid var(--border-color);
}

.card__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card:hover,
.card:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card:hover .card__bg,
.card:focus .card__bg {
    transform: translateY(0);
}

.card__thumb {
    position: relative;
    overflow: hidden;
}

.card__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 24px;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text {
    font-size: 18px;
    line-height: 1.56;

    color: var(--white-color);
}

.card__desc {
    font-size: 16px;
    line-height: 1.87;

    color: var(--primary-text-color);
}

/* FOOTER */

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--accent-bg-color);
}

.page-footer__container {
    display: flex;
    align-items: baseline;
}

.page-footer__nav {
    flex-grow: 1;
}

.page-footer__logo {
    margin-bottom: 20px;

    color: var(--white-color);
}

.footer-contacts__address {
    color: var(--white-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts__link {
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__address:hover,
.footer-contacts__address:focus,
.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.page-footer__socials {
    margin-left: 70px;
}

.page-footer__text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.33;

    color: var(--white-color);

    text-transform: uppercase;
}

.socials {
    display: flex;
}

.socials__item:not(:last-child) {
    margin-right: var(--icon-gap);
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--ft-color {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.socials__link--ft-color:hover,
.socials__link--ft-color:focus {
    background-color: var(--accent-color);
}

.socials__icon {
    fill: currentColor;
}

.subscription {
    margin-left: 93px;
}

.subscription__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white-color);
}

.subscription__form {
    display: flex;
    align-items: flex-start;
}

.subscription__email {
    min-width: 358px;
    padding: 15px 16px;
    margin-right: 12px;

    background-color: var(--accent-bg-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription__email[placeholder] {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 28px;
}

/* MODAL */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);

    visibility: visible;
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.backdrop--is-hidden .modal {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    visibility: visible;
    opacity: 1;

    background-color: var(--white-color);

    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
    margin-right: auto;
    margin-left: auto;
}

.form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
}

.form__field {
    position: relative;
    margin-bottom: 10px;

    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
}

.form__input {
    display: block;
    padding: 12px 12px 12px 42px;

    width: 100%;
    height: 40px;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--primary-border-radius);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(14px, 0);

    fill: var(--title-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__input {
    border-color: var(--accent-color);
}

.form__field:focus-within .form__icon {
    fill: var(--accent-color);
}

/* .form-input:focus {
    border-color: var(--accent-color);
}

.form-input:focus + .input-icon {
    fill: var(--accent-color);
} */

.form__comment {
    margin-bottom: 20px;
    width: 100%;
}

.form__text {
    resize: none;
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;

    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--primary-border-radius);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text:focus {
    border-color: var(--accent-color);
}

.policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
/* 
.policy__checkbox {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
} */

.policy__icon {
    fill: transparent;

    border: 2px solid var(--title-text-color);
    border-radius: var(--primary-border-radius);

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox:checked + .policy__icon {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.policy__text {
    margin-left: 8px;
}

.policy__conditions {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__icon {
    fill: currentColor;
}

.close-button:hover,
.close-button:focus {
    color: var(--white-color);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}
