.logo {
    display: block;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.page-header__logo {
    padding: 15px 0;

    @media screen and (min-width: 768px) {
        padding: 25px 0;
    }

    color: $titleTextColor;
}

.page-footer__logo {
    margin-bottom: 20px;

    color: $whiteColor;
}

.logo__accent {
    color: $accentColor;
}
