.advantages {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin: calc(-1 * (#{$cardGap} / 2));
    }
}

.advantages__item {
    flex-basis: 100%;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: $cardGap;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * #{$cardGap}) / 2);

        margin: calc(#{$cardGap} / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * #{$cardGap}) / 4);
    }
}

.advantages__icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    margin-bottom: $cardGap;

    background-color: $secondaryBgColor;

    border-radius: $primaryBorderRadius;
}

.advantages__caption {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    color: $titleTextColor;
}
