.employee {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin: calc(-1 * (#{$cardGap} / 2));
    }
}

.employee__item {
    text-align: center;

    border-radius: $primaryBorderRadius;

    background-color: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    flex-basis: 100%;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: $cardGap;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * #{$cardGap}) / 2);

        margin: calc(#{$cardGap} / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * #{$cardGap}) / 4);
    }
}

.employee__content {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
    }
}

.employee__heading {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: $titleTextColor;
}

.employee__desc {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}