.examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: -15px;
}

.examples__item {
    margin: 15px;

    // flex-gap: 15px;
    flex-basis: calc((100% - 60px) / 2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 180px) / 6);
    }
}

.examples__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    color: $iconColor;

    border: 1px solid $iconColor;
    border-radius: $primaryBorderRadius;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
        border-color: $accentColor;
    }
}

.examples__icon {
    fill: currentColor;
}
