.examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: calc(-1 * (#{$cardGap} / 2));
}

.examples__item {
    margin: calc(#{$cardGap} / 2);

    // flex-gap: 15px;
    flex-basis: calc((100% - 2 * #{$cardGap}) / 2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 3 * #{$cardGap}) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 6 * #{$cardGap}) / 6);
    }
}

.examples__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    color: $iconColor;

    border: 1px solid $iconColor;
    border-radius: $primaryBorderRadius;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
        border-color: $accentColor;
    }
}

.examples__icon {
    fill: currentColor;
}
