.section--mobile-hidden {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.section--top-padding-reset {
    padding-top: 0;
}

// .features {
//     // display: flex;
//     // justify-content: center;
// }

.features__item {
    position: relative;
    // width: calc((100% - 2 * $cardGap) / 3);

    // &:not(:last-child) {
    //     // margin-right: $cardGap;
    // }
}

.features__text-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    min-height: 70px;
    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
}
.features__text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $whiteColor;
}
