.grid {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin: calc(-1 * (#{$cardGap} / 2));
    }
}

.grid__card {
    flex-basis: 100%;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: $cardGap;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * #{$cardGap}) / 2);

        margin: calc(#{$cardGap} / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * #{$cardGap}) / 3);
    }
}
