.policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.policy__checkbox--hidden {
    @extend %visually-hidden;
}

.policy__icon {
    fill: transparent;

    border: 2px solid $titleTextColor;
    border-radius: 2px;

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .policy__checkbox:checked + & {
        fill: $whiteColor;
        background-color: $accentColor;
        border-color: $accentColor;
    }
}

// .policy__icon {
//     border: 1px solid transparent;
//     border-radius: 2px;

//     cursor: pointer;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .policy__checkbox:checked + & {
//         background-color: $accentColor;
//     }
// }

// .policy__check-on {
//     fill: transparent;

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .policy__checkbox:checked + .policy__icon & {
//         fill: $whiteColor;
//     }
// }

// .policy__check-off {
//     fill: black;

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .policy__checkbox:checked + .policy__icon & {
//         fill: transparent;
//     }
// }

.policy__text {
    margin-left: 8px;

    @media screen and (max-width: 1199px) {
        margin-left: 16px;
        font-size: 12px;
        line-height: 1.17;
    }
}

.policy__conditions {
    text-decoration-line: underline;
    color: $accentColor;
}
