body {
    background-color: $whiteColor;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $primaryTextColor;

    &.modal-open,
    &.menu-open {
        overflow: hidden;
    }
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    font-style: normal;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
    padding: 0;
}
