$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$whiteColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$accentBgColor: #2f303a;
$borderColor: #eeeeee;
$headerBorderColor: #ececec;
$iconColor: #afb1b8;

$titleContentGap: 50px;
$cardGap: 30px;
$iconGap: 10px;
$primaryBorderRadius: 4px;
